# ***`Python Basic Assignment - 1`***

#### **1.** In the below elements which of them are values or an expression? eg:- values can beinteger or string and expressions will be mathematical operators.

`*,'hello', -87.8 , - , / , + , 6`

**Ans:-** There are total 3 values and 4 expression
 - `Values` 'hello' , 6 , -87.6
 - `Expression` * , - , / , +

#### 2. What is the difference between string and variable?
**Ans:-** A variable is used to store of information, and a string is type of information you would store in a Variable. A string is a group of Characters or a single character usually enclosed in Double quotes `" "` or single quotes `' '`

#### 3. Describe three different data types.
**Ans:-** Three fundamental Data types in python are `string`, `int`, `float`.

In [11]:
#string
a = "Hello World"
print("String:-\n",a," \n type :-",type(a),'\n\n',)
#int
b = 10
print("int:- \n",b," \n type :-",type(b),'\n\n')
#float
c = 2.5
print("float:- \n",c," \n type :-",type(c))

String:-
 Hello World
 type :- <class 'str'>


int:-
 10
 type :- <class 'int'>


float:-
 2.5
 type :- <class 'float'>

#### 4. What is an expression made up of? What do all expressions do?
**Ans:-** An expression is a combination of values, variables, operators, and calls to functions. Expression need to be evalutaed.

In [13]:
7*9+69 #expression

132

#### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
**Ans:-** An expression is a combination of values, variables, and operators. When we type an expression at the prompt, the interpreter evaluates it, which means that it finds the value of the expression.

**eg:** `4*5+20-40` is an example of a statement

A statement is a unit of code that has an effect, like creating a variable or displaying a value.When we type a statement, the interpreter executes it, which means that it does whatever the statement says. In general, statements donâ€™t have values.

**eg:** variable declaration and assignment are statements because they do not return a value

#### 6. After running the following code, what does the variable bacon contain?
#### bacon = 22
#### bacon + 1
**Ans:-** bacon = 23

In [14]:
bacon = 22
print(bacon + 1)

23

#### 7. What should the values of the following two terms be?
#### `'spam' + 'spamspam'`
#### `'spam' * 3`
**Ans:-** Both output are same `spamspamspam`

In [16]:
print('spam'+'spamspam')
print ('spam' * 3)

spamspamspam
spamspamspam

#### 8. Why is eggs a valid variable name while 100 is invalid?
**Ans:-** As per python,Variable names cannot begin with a number. The python rules for naming a variable are :-

1. Variable name must start with a letter or the underscore character.
2. Variable name cannot start with a number.
3. Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ).
4. Variable names are case-sensitive.
5. The reserved words(keywords) cannot be used naming the variable.

#### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?
**Ans:-**  The `int()`,`float()`,and `str()` functions will evaluate to the integer,floating-point number,string version of the value passed to them.

In [20]:
#integer
num1 = int(2)
print(num1)
print(type(num1))

2
<class 'int'>

In [21]:
#float
num2 = float(2)
print(num2)
print(type(num2))

2.0
<class 'float'>

In [23]:
#string
s1 = str('2')
print(s1)
print(type(s1))

2
<class 'str'>

#### 10. Why does this expression cause an error? How can you fix it?
#### 'I have eaten' + 99 + ' burritos'
**Ans:-*** This cause of error is `99`.because `99` is not a string. `99` must be typecasted to a string to fix this error. the correct way is:

**Input:** 'I have eaten ' + str(99) + 'burritos.'

**Output:** 'I have eaten 99 burritos.'